/* CSS GENERAL */
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Playfair Display", "sans-serif";
  letter-spacing: 5px;
  font-size: 35px;
  text-align: center;
}

h2 {
  text-align: center;
}

P {
  font-family: Arial, Helvetica, sans-serif;
}

/* CLASSE GLOBALE */

.container {
  max-width: 1060;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

/* CSS PAR SECTION */

/* CSS HEADER */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(img/detoxcuresmoothie.jpg);
  background-size: cover;
  color: white;
  background-position: center;
  width: auto;
  padding-top: 20px;
  padding-bottom: 150px;
}

header img {
  width: 70px;
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 350px;
}

header nav ul li {
  display: inline-block;
  padding: 10px;
}
/* fin section header */

/* SECTION DEVISE */

#devise > img {
  width: 300px;
  margin-top: 40px;
}

#devise img,
div {
  margin-right: 20px;
}

#devise {
  display: flex;
  margin-bottom: 40px;
}

#devise,
div:only-of-type {
  align-items: center;
}
/* fin section devise */

/* SECTION METHODE */

#methode {
  background: linear-gradient(#feb4c3, #f59e28);
  padding-bottom: 50px;
}

#methode,
h2 {
  padding-top: 20px;
}

#fabriq {
  color: white;
  display: flex;
  justify-content: center;
}

#fabriq,
.icone:only-of-type {
  text-align: center;
  padding: 40px;
}

#fabriq,
ul > li {
  text-decoration: none;
  list-style: none;
}
/* fin section methode */

/* SECTION CONCEPT */
article,
.mesArticle {
  display: flex;
}

.mesArticle div,
img {
  text-align: center;
}
/* fin section concept */

/* SECTION FOOTER */

footer {
  color: #fff;
  background-color: #f59e28;
  width: 100%;
  padding-bottom: 5px;
  margin-top: 60px;
}

footer,
#piedDePage {
  display: flex;
  justify-content: center;
}
/* fin section footer */

/* RESPONSIVE MOBILE 767px< */
@media (max-width: 767px) {
  body {
    max-width: 767px;
    margin: 0;
    padding: 0;
  }
  /* CLASSE GLOBAL */

  /* CSS SECTION */
  /* SECTION HEADER */
  header > img {
    max-width: 767px;
  }
  /* fin section header */
  /* SECTION DEVISE */
  #devise {
    display: flex;
    flex-direction: column;
  }
  #devise > img {
    width: 150px;
  }
  #devise img,
  div {
    margin-right: 0px;
  }

  #devise,
  p:only-of-type {
    text-align: center;
  }
  /* fin section devise */
  /* SECTION METHODE */
  #methode {
    max-width: 767px;
    background-size: 767px;
  }
  #fabriq,
  .icone {
    display: flex;
    justify-content: center;
  }
  #fabriq,
  ul,
  li {
    align-items: center;
  }
  article,
  .mesArticle {
    flex-direction: column;
    text-align: center;
  }
}
